/* AuthLayout.module.css */
.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.authBox {
  background-color: var(--vino); /* #5e2129 */
  padding: 2.5rem;
  border-radius: 16px;
  width: 400px;
  text-align: center;
}
.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}
.button {
  width: 100%;
  padding: 1rem;
  background-color: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
  margin-top: 1rem;
}
.button:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.button:active {
  transform: scale(0.98); /* Efecto de "presionar" */
}
.link {
  margin-top: 1.5rem;
  color: var(--texto-principal);
  text-decoration: none;
  display: inline-block;
}
